:root {
    --white: #ffffff;
    --gray-600: #222222;
    --gray-500: #444444;
    --gray-400: #666666;
    --gray-300: #D8D8D8;
    --yellow: #F4D35E;
    --yellow-primary: #E8BA15;
    --yellow-primary-passed: #CFA513;
    --green: #06A77D;
    --beige: #F7F5F2;
    --blue: #005377;
    --red: #B72A30;
}  
