.c-refer {
    background: #f7f5f2;
    width: 100%;
    padding: 80px 100px;
    margin-bottom: 50px;
}

.page-id-5726 {
    .s-content {
        max-width: 100%;
    }
}

.gb-inside-container {
    h3 {
        background-color: #f4d35e;
        font-size: 19px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 25px;
        padding: 0 7px 0 4px;
        margin-bottom: 6px;
        display: inline-block;
        font-family: $halyard;
    }
    h1 {
        font-weight: bold;
        font-size: 37px;
        line-height: 1.3em;
        margin-bottom: 30px;
    }
}

.gb-headline-622b0b6e,
.gb-headline-783c87ea {
    text-align: center;
    font-weight: 700;
    .gb-icon {
        color: #06a77d;
    }
}